:root {
  --clr-header: hsl(0, 0%, 100%);
  --clr-sidebar: hsl(215, 85%, 92%);

  --clr-sidebar-border: hsl(215, 39%, 59%);

  --clr-add: hsl(31, 100%, 90%);
  --clr-add-border: hsl(43, 100%, 42%);

  --clr-remove: hsl(3, 76%, 89%);
  --clr-remove-border: hsl(2, 42%, 52%);

  --clr-preview: hsl(48, 96%, 89%);
  --clr-preview-border: hsl(48, 96%, 53%);

  --clr-output: hsl(0, 0%, 88%);
}


.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 16px;
  text-align: center;
  color: var(--clr-header);
}

.main {
  flex: 1;
  display: flex;
  gap: 16px;
  padding: 16px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 240px;
  border-radius: 16px;
  border: 5px solid var(--clr-sidebar-border);
  background: var(--clr-sidebar);
  padding: 12px;
}

.sidebar .add {
  padding: 1rem;
  border-radius: 16px;
  border: 5px solid var(--clr-add-border);
  font-size: 1rem;
  color: var(--clr-add-border);
  background-color: var(--clr-add);
}

.sidebar .remove {
  padding: 1rem;
  border-radius: 16px;
  border: 5px solid var(--clr-remove-border);
  font-size: 1rem;
  color: var(--clr-remove-border);
  background-color: var(--clr-remove);
}

.preview {
  flex: 1;
  background: var(--clr-preview);
  border: 5px solid var(--clr-preview-border);
}

.css-output {
  width: 280px;
  background: var(--clr-output);
}

.css-output h2 {
  padding: 0.5rem 1rem;
  background-color: var(--clr-header);
}